/*
Error: Invalid CSS after "  .weekday_h { ": expected "}", was "{"
        on line 3748 of scss/main.scss

3743:     display: block;
3744:   }
3745: 
3746: 
3747: @media screen and (max-width: 1280px) {
3748:   .weekday_h { {
3749:     font-size: 20px;
3750:   }
3751: 
3752: }

Backtrace:
scss/main.scss:3748
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/scss/parser.rb:1161:in `expected'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/scss/parser.rb:1097:in `expected'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/scss/parser.rb:1092:in `tok!'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/scss/parser.rb:639:in `block'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/scss/parser.rb:707:in `declaration_or_ruleset'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/scss/parser.rb:657:in `block_child'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/scss/parser.rb:646:in `block_contents'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/scss/parser.rb:638:in `block'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/scss/parser.rb:400:in `media_directive'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/scss/parser.rb:218:in `special_directive'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/scss/parser.rb:193:in `directive'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/scss/parser.rb:656:in `block_child'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/scss/parser.rb:649:in `block_contents'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/scss/parser.rb:42:in `parse'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/engine.rb:403:in `_to_tree'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/hatter/.rvm/gems/ruby-2.2.2/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  .weekday_h { \": expected \"}\", was \"{\"\A         on line 3748 of scss/main.scss\A \A 3743:     display: block;\A 3744:   }\A 3745: \A 3746: \A 3747: @media screen and (max-width: 1280px) {\A 3748:   .weekday_h { {\A 3749:     font-size: 20px;\A 3750:   }\A 3751: \A 3752: }"; }
