.new_video_vidget_cont {
  background: #fff;
  padding: 10px 0; }
  .new_video_vidget_cont .widget_header {
    margin: 0 0 5px 0; }
    .new_video_vidget_cont .widget_header img {
      display: inline-block;
      margin: -10px 0 0 0; }
    .new_video_vidget_cont .widget_header .header_title {
      font-size: 20px;
      padding: 15px 0 0 8px;
      color: #000;
      display: inline-block; }
    .new_video_vidget_cont .widget_header .show_more {
      color: #000;
      padding: 18px 0 0 0;
      font-size: 16px;
      float: right; }
  .new_video_vidget_cont .widget_body {
    padding: 16px 0px 0 0px;
    background: #F7F7F7;
    overflow: hidden; }
  .new_video_vidget_cont .body_pad {
    padding: 0 10px; }
  .new_video_vidget_cont .widget_body_in {
    margin: 0 0px; }
  .new_video_vidget_cont .widget_item_container {
    padding: 6px; }
    .new_video_vidget_cont .widget_item_container a {
      text-decoration: none; }
    .new_video_vidget_cont .widget_item_container .widget_item {
      background: #fff;
      padding: 9px; }
      .new_video_vidget_cont .widget_item_container .widget_item .img {
        position: relative; }
        .new_video_vidget_cont .widget_item_container .widget_item .img img {
          width: 100%; }
        .new_video_vidget_cont .widget_item_container .widget_item .img .play_button {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: url(img/play_button_1.png) center center no-repeat;
          opacity: 0.61; }
      .new_video_vidget_cont .widget_item_container .widget_item .title {
        padding: 8px 0 0 0;
        color: #333;
        font-size: 14px;
        line-height: 1.3;
        min-height: 60px; }
    .new_video_vidget_cont .widget_item_container .widget_item:hover {
      background: #E6E6E6; }
      .new_video_vidget_cont .widget_item_container .widget_item:hover .play_button {
        opacity: 0.84; }

@media screen and (max-width: 750px) {
  .new_video_vidget_cont .widget_header {
    margin: 0 0 5px 0; }
    .new_video_vidget_cont .widget_header img {
      display: none; }
    .new_video_vidget_cont .widget_header .header_title {
      width: 100%;
      font-size: 16px;
      padding: 10px 0 0 0px;
      color: #000;
      display: inline-block; }
    .new_video_vidget_cont .widget_header .show_more {
      color: #000;
      padding: 0px 0 6px 0;
      font-size: 16px;
      float: left; } }
