/* main.scss */


.row.big_row {
  margin: 0 -60px;
  padding: 0 30px;
  // background: #fff;
}

// .gray_container {
//   background: #F7F7F7;
// }

// .gray_container.to_white {
//   background: #F7F7F7 url(img/to_white_gr.png) bottom center repeat-x;
// }


.super_grean_bg {
  background: rgb(33,197,65); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(33,197,65,1) 0%, rgba(12,184,79,1) 46%, rgba(2,178,86,1) 82%, rgba(0,177,87,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(33,197,65,1)), color-stop(46%,rgba(12,184,79,1)), color-stop(82%,rgba(2,178,86,1)), color-stop(100%,rgba(0,177,87,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(33,197,65,1) 0%,rgba(12,184,79,1) 46%,rgba(2,178,86,1) 82%,rgba(0,177,87,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(33,197,65,1) 0%,rgba(12,184,79,1) 46%,rgba(2,178,86,1) 82%,rgba(0,177,87,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(33,197,65,1) 0%,rgba(12,184,79,1) 46%,rgba(2,178,86,1) 82%,rgba(0,177,87,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(33,197,65,1) 0%,rgba(12,184,79,1) 46%,rgba(2,178,86,1) 82%,rgba(0,177,87,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21c541', endColorstr='#00b157',GradientType=1 ); /* IE6-9 */
}

@media screen and (max-width: 1280px) {
  .row.big_row {
    margin: 0 -40px;
    padding: 0 00px;
  }
  .gray_container {
    background: none;
  }
}

@media screen and (max-width: 1100px) {
  .row.big_row {
    margin: 0 -15px;
    padding: 0 ;
  }


}
.container {
  width: 1000px;
}


@media (min-width: 768px) {
  .container {
    width: 1000px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1000px;
  }

}
@media (min-width: 1024px) {
  .container {
    width: 1000px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1 {
  font-weight: bold;
  font-size: 31px;
}

h3.kino {
  font-size: 19px;
  font-weight: bold;
}

.breadcrumb {
  float: left;
}


    a.top_button {
      display: block;
      position: fixed;
      bottom: 20px; left: 20px;
      width: 74px; height: 59px;
      background: url(img/up.jpg) center center no-repeat;
    }

    .gray_block {
      background: #F5F5F5;
      padding: 19px 24px 20px 24px;
    }

    .gray_font_666 {
      color: #666;
    }

    .standart_title h1 {
      padding: 46px 0 0px 0;
    }

    .standart_title.slim h1 {
      padding: 0;
      margin-top:0;
    }

    .standart_title.slim_2 h1 {
      padding: 0;
    }

    .separator_h_line {
      width: 100%;
      height: 1px;
      float: left;
    }


// <===========================================================>
//                       big_buttons
// <===========================================================>


a.big_color_button {
  color: #fff;
  padding: 10px 15px;
  background: #2FC046;
  font-size: 17px;
  margin: 0 5px;

}

a.big_color_button.orange {
  background: #FD8407;
}

// <===========================================================>
//                            LIGHTBOX
// <===========================================================>
.lightbox_container {
  display: none;
}


// <===========================================================>
//                            TOP_BANER
// <===========================================================>

.top_baner {
  
  .big_row {
    padding-top:5px;
    text-align: center;
  }
  img {
    width: 100%;
  }
}



// <===========================================================>
//                            HEADER
// <===========================================================>

.header_container {
  margin: 10px 0 10px 0;
  position: relative;
  font-family: Tahoma;
}
.header {
  position: relative;
}

.header .logo{
  float: left;
  padding: 0 10px 0 5px;
}

.header .search_bar_container {
  float: left;
  width: 638px;
  background: url(img/header_search_bg.png) no-repeat;
  height: 62px;
  margin: 8px 0 0 0;
}

.header .search_bar{
  height: 62px;
  padding: 12px 0 0 15px;

    .form-control::-moz-placeholder {
      color: #333;
      opacity: 1;
    }
    .form-control:-ms-input-placeholder {
      color: #333;
    }
    .form-control::-webkit-input-placeholder {
      color: #333;
    }

    input {
      width: 91%;
      height: 37px;
      float: left;
      border: none;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;

      // background: -moz-linear-gradient(top,  rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.95) 100%); /* FF3.6+ */
      // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.95)), color-stop(100%,rgba(255,255,255,0.95))); /* Chrome,Safari4+ */
      // background: -webkit-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.95) 100%); /* Chrome10+,Safari5.1+ */
      // background: -o-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.95) 100%); /* Opera 11.10+ */
      // background: -ms-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.95) 100%); /* IE10+ */
      // background: linear-gradient(to bottom,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.95) 100%); /* W3C */
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ffffff', endColorstr='#f2ffffff',GradientType=0 ); /* IE6-9 */
      background:#fff;

      color: #000;

    }
    button {
      height: 37px;
      float: left;
      background: none;
      padding:0px 0px 0 5px;
      margin: 0 0 0 5px;
      border:none;
      color: #fff;
      font-size: 30px;
    }
}

.header .informer {
  float: left;
  padding: 8px 0 0 20px;
}

.header .informer a {
  text-decoration: none;
}

.header .informer .curency a{
  font-size: 24px;
  color: #128C00;
}


.header .wather_widget .img {
  float: left;
  margin: 2px 5px 0 0;
}

.header .wather_widget .temperature {
  font-size: 24px;
  color: #535353;
  padding: 0px 0 0 5px;
}
      
.header .logo_2 {
  position: absolute;
  right: 12px;
  top: -7px;
  z-index: 10;
}

@media screen and (max-width: 1200px) {
  .header .logo_2 {
    display: none;
  }
}



// <===========================================================>
//                            MAIN_NAV 
// <===========================================================>

.main_nav_container {
  background: #f5f5f5;
  margin: 0px 0 20px 0;
}

.main_nav {
  margin: 17px 0px 17px 0px;
}

.main_nav_in {
  margin: 0 -3px;
}
.main_nav .item{
  display: block;
  float: left;
  width: 8.33333333333333%;
}

.main_nav .item a,
.main_nav .item a:hover {
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.main_nav .item a{
  display: block;
  margin: 5px;
  height: 88px;
  color: #fff;
  position: relative;
  line-height: 1.0;
  font-size: 12px;
  font-weight: normal;
}

.main_nav .item a:hover{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 100;
}

.main_nav .item a .img{
  position: absolute;
  right: 14px; top: 18px;
}
.main_nav .item.item_6 a .img,
.main_nav .item.item_9 a .img,
.main_nav .item.item_10 a .img,
.main_nav .item.item_11 a .img,
.main_nav .item.item_12 a .img {
  right: 14px; top: 11px;
}

.main_nav .item.item_9 a .img {
  right: 14px; top: 7px;
}

.main_nav .item a .title{
  position: absolute;
  left: 8px; bottom: 10px;
  font-family: Tahoma;
}

.item_1 a  {background: #2061E9;}
.item_2 a  {background: #DB0022;}
.item_3 a  {background: #0238D3;}
.item_4 a  {background: #FD8407;}
.item_5 a  {background: #128901;}
.item_6 a  {background: #118B9E;}
.item_7 a  {background: #9C0130;}
.item_8 a  {background: #411D9C;}
.item_9 a  {background: #7B0085;} 
.item_10 a {background: #2061E9;}
.item_11 a {background: #CF3E22;}
.item_12 a {background: #0B5B00;}

@media screen and (max-width: 1200px) {
  .main_nav .item.item_6 a .img,
  .main_nav .item.item_9 a .img,
  .main_nav .item.item_10 a .img,
  .main_nav .item.item_11 a .img,
  .main_nav .item.item_12 a .img {
    right: 3px; top: 3px;
  }

  .main_nav .item a .img{
    right: 5px; top: 5px;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .main_nav .item a{
    display: block;
    margin: 5px;
    height: 71px;
    color: #fff;
    position: relative;
    line-height: 0.9;
    font-size: 11px;
    font-weight: normal;
  }
  .main_nav .item a .title{
    left: 5px; bottom: 5px;
  }


}

// <===========================================================>
//                        MAIN_BIG_BANER
// <===========================================================>


.main_big_baner {
  @extend .gray_block;



  @media screen and (max-width: 1200px) {
    a {
      img{
        max-height: 50px;
      }

    }
  }


}

.main_big_baner.center {
  text-align: center;
  padding-top:10px;
  padding-bottom:6px;
}

// <===========================================================>
//                          horizontal_grean_menu
// <===========================================================>

.horizontal_grean_menu {
  background: #2AC35C;
  padding: 0 0px;

  .separator_line {
    // float: left;
    // height: 12px;
    // width: 1px;
    // background: #fff;
    // margin: 16px 0 0px 0;

    display: none;
  }

  a {
    color: #fff;
    display: block;
    float: left;
    padding: 12px 9px;
    font-size: 13.2px;
    font-weight: normal;
    // letter-spacing: -1px;
  }

}

.horizontal_grean_menu a.first {
  padding-left: 12px;
}
.horizontal_grean_menu a.last {
  padding-right: 12px;
}
.horizontal_grean_menu a.active,
.horizontal_grean_menu a:hover {
  background: #D30013;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .horizontal_grean_menu {
    padding: 5px;

    .separator_line {
      float: left;
      height: 12px;
      width: 1px;
      background: #fff;
      margin: 8px 0 0px 0;
    }

    a {
      color: #fff;
      display: block;
      float: left;
      padding: 5px 14px 2px 14px;
      font-size: 14.2px;
      font-weight: bold;
      letter-spacing: 0px;
    }

  }

}


// <===========================================================>
//                         NEWS_BLOCK
// <===========================================================>

.news_block {
  margin: 20px 0 30px 0;
  a {
    text-decoration: none;
  }
}

.news_item {

  .img {
    margin: 0 0 6px 0;
  }
  .title {
    margin: 10px 0 10px 0;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    line-height: 1.1;
  }

  .short {
    height: 45px;
    font-size: 14px;
    color: #333;
    line-height: 1.2;
  }

}

@media screen and (max-width: 1200px) {
  .news_item {

    .title {
      height: auto;
    }
  }
}



.label_item {
  float: left;
  margin: 0 12px 0 0;
  .label_img {
    float: left;
    margin: 0 4px 0 0;
  }
  .label_title {
    margin: 2px 0 0 0;
    float: left;
    color: #999;
    font-size: 12px;

  }
}


.news_item:hover {
  .img {
    -moz-opacity: 0.60;
    -khtml-opacity: 0.60;
    opacity: 0.60;
  }
  .title {
    color: #3D8E45;
  }
}


.align_center_link {

  text-align: center;

  a {
    text-align: center;
    display: block;
    padding: 10px 20px;
    background: #F7F7F7;
  }
}

.org_news .align_center_link {
  margin: 10px 0 0 0;
}
// <===========================================================>
//                        POPULAR_SECTIONS
// <===========================================================>

.popular_sections {
  @extend .gray_block;
    .popular_sections_title {
      position: absolute;
      top: -12px;
      left: 50%;
      padding: 4px 0;
      text-align: center;
      width: 180px;
      margin-left: -90px;
      background: #F9CF00;
      color: #fff;
      font-weight: bold;
      font-size: 13px;


    }

  border-top: 6px solid #E0E0E0;
  .popular_sections_item {
    float: left;
    
    a {
      text-decoration: underline;
      color: #333;
      font-size: 16px;
      padding: 4px 12px;
      display: block;
      float: left;
    }
    a:hover {
      color: #000;
      background: #E9E9E9;
    }
  }
}


// <===========================================================>
//                        CATALOG_MENU_BAR
// <===========================================================>



.catalog_menu_bar {
  margin: 0 0px 11px 0;
  position: relative;
  .catalog_menu_bar_title {
    padding: 15px 10px 15px 18px;
    background: #21BD62;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    span{
      font-size: 12px;
      transform: rotate(0deg) ;
      -webkit-transform: rotate(0deg) ;
      -moz-transform: rotate(0deg) ;
      -o-transform: rotate(0deg) ;
      -ms-transform: rotate(0deg) ;

      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

  }


  .catalog_menu_bar_items {
    .catalog_menu_bar_item {
      display: block;
      background: #F5F5F5;
      border-bottom: 1px solid #D8D8D8;
      color: #595959;
      font-size: 15px;
      text-decoration: none;
      img {
        margin: -5px 0 0 0;
        padding: 0 6px 0 0;
      }
    }

    .catalog_menu_bar_item:hover {
      background: #F9CF00;
      cursor: pointer;
    }



  }
}


.catalog_menu_bar.editional {
  margin: 0 0px;
  position: relative;
  .catalog_menu_bar_title {
    padding: 15px 10px 15px 18px;
    background: #f8b82f;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
}
 


.catalog_menu_bar.collapsed .catalog_menu_bar_items {
  display: none;
}



.catalog_menu_bar_item {
  .catalog_menu_bar_item_title {
    padding: 8px 32px 8px 32px;
    position: relative;
    .arrow {
      position: absolute;
      width: 13px;
      height: 100%;
      top: 0;
      left: -13px;

      background: url(img/menu_arrow.png) left center no-repeat;
      z-index: 11;
      display: none;
    }
  }

  .in_tab {
    width: 300%;
    min-height: 500px;
    position: absolute;
    background: #F5F5F5;
    right: 100%;
    top: 0px;
    visibility: hidden;
    z-index: 10;


    .in_tab_header {
      background: #F9CF00;
      .in_tab_title {
        color: #333;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 15px 24px 15px 41px;
      }
    }
  }
}

.catalog_menu_bar.expand {
  margin: 0 0 16px 0;

  .catalog_menu_bar_title {
    span {
      transform: rotate(180deg) ;
      -webkit-transform: rotate(180deg) ;
      -moz-transform: rotate(180deg) ;
      -o-transform: rotate(180deg) ;
      -ms-transform: rotate(180deg) ;

      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }

}

.catalog_menu_bar.editional {
  margin-top: 10px;
}

.catalog_menu_bar_item:hover .in_tab, .catalog_menu_bar_item .in_tab:hover  {
  visibility: visible;
}
.catalog_menu_bar_item:hover .catalog_menu_bar_item_title .arrow {
  display: block;
}


.in_tab_content {
  padding: 24px;

  .subsection{
    margin: 0 0 20px 0;
    cursor: auto;

    .subsection_title {
      font-size: 17px;
      color: #000;
      padding: 0 0 2px 0;
      span {
        margin: 0 0 0 5px;
        padding: 5px 9px;
        background: #F9CF00;
      }
    }

    .subsection_item {
      display: block;
      color: #666;
      font-size: 15px;
      cursor: pointer;
    }
  }


}


.catalog_menu_bar.min {
  float: left;
  width: 270px;

  .catalog_menu_bar_title{
    padding: 6px 10px 6px 18px;
  }

  .catalog_menu_bar_items {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 100;
  }
}

.catalog_menu_bar.closed {

  .catalog_menu_bar_items {
    display: none;
  }
}



.catalog_menu_bar.roght_droup {
  .catalog_menu_bar_item {

    .arrow {
      position: absolute;
      width: 13px;
      height: 100%;
      top: 0;
      left: 100%;

      background: url(img/menu_arrow_right.png) left center no-repeat;
      z-index: 12;
      display: none;
    }

    .in_tab {
      width: 300%;
      min-height: 500px;
      position: absolute;
      background: #F5F5F5;
      left: 100%;
      top: -38px;
      visibility: hidden;
      z-index: 10;


      .in_tab_header {
        background: #F9CF00;
        .in_tab_title {
          color: #333;
          font-size: 18px;
          font-weight: bold;
          text-transform: uppercase;
          padding: 6px 24px 7px 41px;
        }
      }
    }
  }

}

.catalog_menu_bar.roght_droup .catalog_menu_bar_item:hover .in_tab  {
  visibility: visible;
}
.catalog_menu_bar.roght_droup .catalog_menu_bar_item:hover .catalog_menu_bar_item_title .arrow {
  display: block;
}






// <===========================================================>
//                            FOOTER
// <===========================================================>

.footer {
  margin:0px 0 0 0;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  // padding: 20px 0px;
  background: #00964D;


  .big_row {
    background: none;
  }
  a {
    color: #fff;
  }
  .footer_nav {
    .footer_nav_item {
      float: left;
      margin: 25px 0 0 20px;
      font-size: 13px;
      min-width: 162px;

      span {
        float: left;
        font-size: 40px;
        margin: 0px 10px;
      }
      

    }

    .footer_nav_item.one_line {
      margin: 33px 0 0 10px;
      span {
        margin: -8px 10px 0px 10px;
      }
    }

    .footer_nav_item:hover {
      a {
        color: #F0AD4E;
      }
    }


  }


}

@media screen and (max-width: 1200px) {
  .footer .footer_nav .footer_nav_item {
    float: left;
    margin: 25px 0 0 5px;
    font-size: 12px;
    min-width: 120px;
    letter-spacing: -1px;

    span {
      float: left;
      font-size: 20px;

    } 

  }

  .footer .footer_nav  .footer_nav_item.one_line {
    margin: 25px 0 0 20px;
    span {
      margin: 0px 10px 0px 10px;
    }
  }
}


// <====================================================================================>
//                                      FIRMS
// <====================================================================================>

.firm_container {

}

// <===========================================================>
//                          breadcrumb_firm
// <===========================================================>


.breadcrumb_firm {
  float: left;
  padding:0px 10px;
  .breadcrumb {
    float: left;
  }
}






// <===========================================================>
//                          firm_menu
// <===========================================================>

.firm_menu {
  padding: 6px 0 20px 0;

  .separator_line {
    float: left;
    height: 12px;
    width: 1px;
    background: #fff;
    margin: 19px 0 0px 0;
  }
  .firm_menu_top_navs {
    background: #2AC35C;
    padding: 0 10px;

    a {
      color: #fff;
      display: block;
      float: left;
      padding: 12px 15px;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .firm_menu_bottom_navs {
    background: #F5F5F5;
    padding: 0 10px;

    a {
      color: #666;
      display: block;
      float: left;
      padding: 12px 15px;
      font-size: 16px;
      font-weight: normal;
    }

    a.blue {
    padding: 7px 10px 8px 10px;
      margin: 5px 5px 0 0;
      float: left;
      background: #2AC35C;
      color: #fff;
      font-weight: bold;
    }

    a.prime {
    padding: 7px 10px 8px 10px;
    margin: 5px 5px 0 0;
    float: left;
    background: #999;
    color: #fff;
    font-weight: bold;
    }

    a.first {
      margin-left: -3px;
    }

  }
}

.firm_menu .firm_menu_bottom_navs{
  padding:10px 10px;
  a {
    width:50%;
    padding:5px 15px;
    line-height: 1.1;

  }
}

// <===========================================================>
//                          firm_body
// <===========================================================>

.firm_body {
  padding: 0 0 20px 0;
}

.firm_firs_text {
  padding: 10px 0 10px 0;
}


.firm_short_news {
  margin: 0 0 20px 0;
}

.firm_short_news_item {
  font-size: 16px;
  margin: 0 0 2px 0;
}

.firm_short_news_item .date{
  color: #333;
  font-weight: bold;
  padding: 0 10px 0 0;
}

.firm_short_news_item .title{

  // font-weight: normal;
}

// <===========================================================>
//                          firm_right_bar
// <===========================================================>
.firm_right_bar.affix-top {
  padding: 20px 0 0 0;
}

.firm_right_bar {
  
  .firm_logo {
    text-align: center;
    padding-bottom: 20px;
  }
}


.firm_contacts {
  margin: 0 0 0 30px;

  .firm_contacts__item {
    margin: 0 0 12px 0;
    .title {
      font-size: 16px;
      color: #333;
      padding: 5px 0 5px 0;
      font-weight: bold;
    }

    .firm_contacts__item_item {
      margin: 0 0 5px 8px;
      img {
        margin: -3px 5px 0 0;
      }

    }
  }

  .firm_contacts__item.section_ot {
    .firm_contacts__item_item {
      margin: 0 0 5px 10px;
      img {
        margin: -3px 5px 0 0;
      }

    }
  }

  .firm_contacts__item.inline {
    margin: 0 0 12px 0;
    .title {
      font-size: 16px;
      color: #333;
      padding: 5px 0 0px 0;
      float: left;
      font-weight: bold;
      line-height: 1.3;
    }

    .firm_contacts__item_item {
      margin: 0px 0 5px 0;
      padding: 6px 0 0 0;
      img {
        margin: -5px 5px 0 8px;
      }

    }
  }
}




.firm_right_bar.affix {
  width: 270px;
  top: 10px;
  background: white;

}
// <===========================================================>
//                          firm_dop_menu
// <===========================================================>

.firm_dop_menu {
  padding: 10px 10px;
  background: #F5F5F5;


  a {
    padding: 10px 10px;
    margin: 0 5px 0 0;
    float: left;
    background: #019DFD;
    color: #fff;
    font-weight: bold;
  }

  a.prime {
  background: #F09900;
  }
}


// <===========================================================>
//                          firm_offer
// <===========================================================>

.firm_offer {
  margin: 20px 0 0 0;
  position: relative;
  padding-bottom: 5px;
}
.firm_offer_title {
  margin: 0 0 11px 0;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.firm_offer_images {
  width: 60%;
  float: left;
}
.firm_offer .img {
  float: left;
  width: 50%;
  position: relative;
  margin: 0 0 16px 0;

  img {
    width: 94%;
  }
}

.firm_offer_text {
  float: left;
  width: 40%;
  padding: 0 0 40px 0;
}

.firm_offer_price {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding:10px 14px;
  background: #2AC35C;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

// <===========================================================>
//                          firm_footer
// <===========================================================>


.firm_footer {
  margin: 40px 0 0 0;
}


// <===========================================================>
//                          firm_photo_carusel
// <===========================================================>

.firm_photo_carusel {

  .carousel-control {
    background-image: none;
    width: 5%;
  }

  .item {
    float: left;

    img {
      width: 100%;
    }
  }
}



// <====================================================================================>
//                                     CATALOG SECTION 
// <====================================================================================>


.catalog_section_item {
  padding: 12px;
  margin: 20px 0;
  background: #F5F5F5;
  position: relative;

  .catalog_section_left {
    width: 45%;
    float: left;
    padding-right: 3%;
    padding-bottom: 28px;
    position: relative;

    .firm_contacts {
      margin: -5px 2px 0 2px;
      padding: 16px;
      background: #fff;
    }
  }

  .firm_more {
    width: 100%;
      padding:0 28px 0 0px;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;

      // margin: 0 0 -16px 0;
      text-align: center;
    a {
      display: block;
      padding:10px 10px;
      background: #ccc;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
    }
  }

  .catalog_section_right{ 
    padding: 0 0 110px 0;
    width: 55%;
    float: left;


    .title {
      display: block;
      font-size: 23px;
      font-weight: bold;
      color: #333;
      margin: 0 0 12px;
      padding: 0 50px 0 0;
      line-height: 1.1;
    }

    .catalog_section_discount {
      background: #ffffff;
      padding: 8px 10px 8px 70px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin: 12px 0;
      position: relative;
      line-height: 1.1;
      font-weight: bold;

      .img {
        background: url(img/sales_big_for_section.png) center no-repeat;
        width: 51px;
        height: 44px;
        position: absolute;
        bottom: 8px; left: 10px;
        z-index: 10;
      }
    }


    .catalog_section_item_images {
      position: absolute;
      bottom: 12px; right: 12px;
      width: 54%;

      .catalog_section_col {
        float: left;
        width: 33.333333333%;
      }
    }

    ul {
      padding: 0 0 0 20px;
    }

  }
}

.catalog_section_item.orange_line {
  border-top: 8px solid #FF9100;
}


.section_filters {
  background: #F5F5F5;
  padding: 18px;
}

.catalog_section_item .firm_catalog_action {
  margin: 8px 0;
  span.label {
    display: block;
    float: left;
    padding: 5px 10px;
    margin: 0 8px 0 0;
    font-size: 13px;
    // min-width: 75px;
  }
  .text {
    padding: 3px 0 0 0;
    margin:  0 0 0 40px;
  }
}

.firm_catalog_actions_container {
  margin: 8px 0;
  padding: 1px 9px;
  background: #FCFCFC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.catalog_sale_corner {
  position: absolute;
  right: 0px; top: 0px;
  z-index: 2;
  cursor: pointer;

  .sale {
    position: absolute;
    top: 8px; right: 8px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    transform: rotate(46deg) ;
    -webkit-transform: rotate(46deg) ;
    -moz-transform: rotate(46deg) ;
    -o-transform: rotate(46deg) ;
    -ms-transform: rotate(46deg) ;
    z-index: 21;
  }

  .hide_text {
    position: absolute;
    right: 0px; top: 0px;
    z-index: 20;
    width: 270px;
    background: #FF9100;
    padding: 32px 50px 20px 20px;
    color: #fff;
    display: none;

  }
}
.catalog_sale_corner:hover .hide_text {
  display: block;
}

// <===========================================================>
//                        afisha_line_section
// <===========================================================>

.afisha_line_section {
  margin: 16px -15px 10px 0;

  a{
    text-decoration: none;
  }

  .title {
    padding: 6px 12px;
    background: #DCDCDC;
    font-weight: bold;
    font-size: 19px;
    margin: 0 15px 12px 0;
  }



  .afisha_l_s__item {
    float: left;
    width: 20%;
    min-height: 340px;
    padding: 0 15px 0px 0;

    .img {
      height: 230px;
      background: #F2F2F2;
      width:100%;
    }
    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    img {
      width: 100%;
      vertical-align: middle;
    }

    .date {
      text-align: center;
      color: #D30013;
      font-size: 16px;
      padding: 5px 0;
    }
    .name {
      text-align: center;
      font-weight: bold;
      font-size: 15px;
      line-height: 1.2;
      min-height: 40px;
      color:#000;
      padding: 0 0 10px 0;
    }

    .place {
      margin: 8px 0 0 0;
      .place_title {
        color: #333;
        float: left;
        margin: 0 5px 0 0;
      }
    }

    .times {
      margin: 3px 0 12px 0;
      .time {
        margin: 0 2px 2px 0;
        font-size: 12px;
        padding: 4px;
        float: left;
        letter-spacing: -0.5px;
      }
    }

  }
}

.afisha_l_s__item:hover {
  img {
    -moz-opacity: 0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
  }
}


// <===========================================================>
//                           gray_bar
// <===========================================================>

.gray_bar {
  line-height: 1.3;
  margin: 20px 0;
  padding:40px 60px;
  background: #F4F4F4;
  font-size: 20px;
  color: #333;

  .btn {
    margin: 0 6px 0 0;
  }
}

.gray_bar.small {
  margin: 20px 0;
  padding:20px 20px;
}

.strong_blue {
  font-size: 20px;
  color: #31ABFD;
  font-weight: bold;
}

// <===========================================================>
//                           white_bar
// <===========================================================>

.white_bar {
  line-height: 1.3;
  margin: 20px 0;
  font-size: 20px;
  color: #333;

  .btn {
    margin: 0 6px 0 0;
  }
}


// <===========================================================>
//                            WIDGETS
// <===========================================================>
.widget_type_1_container {
  background: #fff;
  padding: 10px 0;

  .widget_header {
    img {
      float: left;
    }
    .header_title {
      float: left;
      font-size: 20px;
      padding: 15px 0 0 8px;
      color: #000;
    }
    .show_more {
      color: #000;
      padding: 18px 0 0 0;
      font-size: 16px;
    }
  }


  .widget_body {
    padding: 20px 0;
    background: #F7F7F7;
  }
  .widget_body_in {
    margin: 0 -5px;
  }

  .widget_item_container {
    width: 25%;
    float: left;
    padding: 5px;

    a {text-decoration: none;}

    .widget_item {
      background: #fff;
      padding:9px;
      
      .title {
        min-height: 50px;
        padding: 8px 0 0 0;
        color: #333;
        font-size: 14px;
      }
    }

    .widget_item:hover {
      background: #E6E6E6;
    }

    img {width: 100%;}
  }

} 


.widget_type_2_container {
  background: #fff;
  padding: 10px 0;

  .widget_header {
    img {
      float: left;
    }
    .header_title {
      float: left;
      font-size: 20px;
      padding: 15px 0 0 8px;
      color: #000;
    }
    .show_more {
      color: #000;
      padding: 18px 0 0 0;
      font-size: 16px;
      a {
        padding: 0 0 0 20px;
      }
    }
  }


  .widget_body {
    padding: 20px 0;
    background: #F7F7F7;
  }
  .widget_body_in {
    margin: 0 -5px;
  }

  .widget_item_container {

    
    a {text-decoration: none;}

    .widget_item {
      background: #fff;
      padding: 10px 5px;

      .text {
        font-size: 17px;
        color: #000;
        text-align: center;
        line-height: 1.2;
        min-height: 95px;
        padding: 10px 0px 0 0px;

      }
      .name {
        font-size: 14px;
        color: #666;
        text-align: center;
        padding: 0 0 5px 0;
      }

      .zp {
        span {
          @extend .super_grean_bg;
          padding: 10px 12px;
          text-align: center;
          color: #fff;
          font-weight: bold;
        }
        padding: 10px 0px;
        text-align: center;

      }

      @media screen and (max-width: 1200px) {
        .zp {
          span {
            display: block;
            padding: 10px 10px;
            text-align: center;
            color: #fff;
          }
          padding: 10px 0px;
          text-align: center;

        }
      }

    }

    .widget_item:hover {
      background: #E6E6E6;
    }


  }

} 



.widget_type_3_container {
  background: #fff;
  padding: 10px 0;

  .widget_header {
    img {
      float: left;
    }
    .header_title {
      float: left;
      font-size: 20px;
      padding: 15px 0 0 8px;
      color: #000;
    }
    .show_more {
      color: #000;
      padding: 18px 0 0 0;
      font-size: 16px;
      a {
        padding: 0 0 0 20px;
      }
    }
  }


  .widget_body {
    padding: 20px 0;
    background: #F7F7F7;
  }
  .widget_body_in {
    margin: 0 -5px;
  }

  .widget_item_container {

    
    a {text-decoration: none;}

    .widget_item {
      background: #fff;
      padding: 140px 5px 10px 5px;
      text-align: center;

      .count {
        text-align: center;
        font-size: 26px;
        color: #00964D;
        font-weight: bold;
      }
      .name {
        font-size: 14px;
        color: #666;
        text-align: center;
        padding: 2px 0 0px 0;
        line-height: 1.2;
        min-height: 35px;
      }

      img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0 15px;
      }

    }

    .widget_item:hover {
      background: #E6E6E6;
    }


  }

} 




.widget_type_4_container {
  background: #fff;
  padding: 30px 0 10px 0;

  .widget_header {
    height: 50px;
    background:#EFEFEF;
    .title_bg {
      float: left;
      background:#EFEFEF;
    }
    img {
      float: left;
      max-height: 50px;
    }
    .header_buttons {
      float: left;
      padding: 0 0 0 0px;
    }

    .header_button {
      float: left;
      height: 50px;
      background: #CB1926;
      
      a {
        display: block;
        padding: 16px 18px 10px 18px;
        color: white;
        font-weight:bold;
      }
    }


    .header_button.with_img {
      background: #CB1926 url(img/main_nav_icon_1_small.png) 22px center no-repeat;
      a {
        padding: 16px 18px 10px 48px;
      }
    }
    .header_button.grean {
      background: #02B256;
    }
    .header_button.grean:hover {
      background: #00A04E;
    }
    .header_button.gray {
      background-color: #878787;
    }
  }

  .widget_horizontal_menu {
    width: 100%;
    padding-left: 350px;
    background: #999999;


    a {
      display: block;
      float: left;
      height: 50px;
      padding: 17px 9px 0 8px;
      color: #fff;
    }
    @media screen and (max-width: 1200px) {
    a {
      padding: 17px 5px 0 5px;
      font-size: 12.5px;
      letter-spacing: -0.5px;
    }
    }
  }


  .widget_body {
    padding: 32px 0 0px 0;
    background: #fff;
  }
  .widget_body_in {
    margin: 0 -5px;
  }

  .widget_item_container {
    width: 16.666666667%;
    
    a {text-decoration: none;}

      min-height: 350px;
      // padding: 0 15px 0px 0;

      .img {
        height: 240px;
        background: #F2F2F2;
        width:100%;
      }
      .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      img {
        width: 100%;
        vertical-align: middle;
      }

      .date {
        text-align: center;
        color: #D30013;
        font-size: 16px;
        padding: 10px 0;
      }
      .name {
        text-align: center;
        font-weight: bold;
        font-size: 15px;
        line-height: 1.2;
        min-height: 40px;
        color:#000;
      }


    .widget_item {
      background: #fff;
      padding: 0px 5px;
      img {width: 100%;}

      .title {
        color: #333;
        text-align: center;
        margin: 12px 0 5px 0;
        line-height: 1.2;

      }

      .place {
        color: #777;
        text-align: center;
      }
    }

  }


  .widget_item_container img{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .widget_item_container:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

} 




.widget_type_5_container {
  background: #fff;
  padding: 30px 0 10px 0;

  .widget_header {
    height: 50px;
    background:#F7F7F7;
    .title_bg {
      float: left;
      background:#F7F7F7;
    }
    img {
      float: left;
      max-height: 50px;
    }
    .header_buttons {
      float: left;
      padding: 0 0 0 10px;
    }

    .header_button {
      float: left;
      height: 50px;
      background: #CB1926;
      
      a {
        display: block;
        padding: 16px 18px 10px 18px;
        color: white;
        font-weight:bold;
      }
    }

    .header_button.grean {
      background: #02B256;
    }
    .header_button.blue {
      background: #00A9DA;
    }
    .header_button.brown {
      background: #E57A46;
    }

    .show_more {
      color: #000;
      padding: 15px 0 0 0;
      font-size: 16px;
      a {
        padding: 0 0 0 20px;
      }
    }
  }

  .widget_horizontal_menu {
    width: 100%;
    padding-left: 350px;
    background: #999999;


    a {
      display: block;
      float: left;
      height: 50px;
      padding: 17px 9px 0 8px;
      color: #fff;
    }
  }


  .widget_body {
    padding: 32px 0 44px 0;
    background: #fff url(img/cover_food.jpg) center no-repeat;
    background-size: cover;
  }
  .widget_body_in {
    margin: 0 -15px;
  }

  .widget_item_container {
    float: left;

    a {text-decoration: none;}

    .widget_item {
      background: #fff;
      padding:9px;
      
      .title {
        min-height: 50px;
        padding: 8px 0 0 0;
        color: #333;
        font-size: 14px;
      }
    }

    .widget_item:hover {
      background: #E6E6E6;
    }

    img {width: 100%;}
  }

} 




// <===========================================================>
//                           vidget_auto
// <===========================================================>

.widget_type_6_container {
  background: #fff;
  padding: 30px 0 10px 0;

  .widget_header {
    height: 50px;
    background:#F7F7F7;
    .title_bg {
      float: left;
      background:#F7F7F7;
    }
    img {
      float: left;
      max-height: 50px;
    }
    .header_buttons {
      float: left;
      padding: 0 0 0 10px;
    }

    .header_button {
      float: left;
      height: 50px;
      background: #CB1926;
      
      a {
        display: block;
        padding: 16px 18px 10px 18px;
        color: white;
        font-weight:bold;
      }
    }

    .header_button.grean2 {
      background: #01B256;
    }
    .header_button.yeal {
      background: #EFBA0F;
    }

    .show_more {
      color: #000;
      padding: 15px 0 0 0;
      font-size: 16px;
      a {
        padding: 0 0 0 20px;
      }
    }
  }

  .widget_horizontal_menu {
    width: 100%;
    padding-left: 350px;
    background: #999999;


    a {
      display: block;
      float: left;
      height: 50px;
      padding: 17px 9px 0 8px;
      color: #fff;
    }
  }


  .widget_body {
    padding: 0px 0 0px 0;
    // background: #fff url(img/cover_food.jpg) center no-repeat;
    background: #ccc;
    background-size: cover;
  }
  .widget_body_in {
    margin: 0 -15px;

    .title {
      position: absolute;
      left: 5%;top: 5%;
      z-index: 6;
      color: #fff;
      font-size: 32px;
      font-weight: bold;
      padding: 0 2% 0 0;
    }
    .text {
      position: absolute;
      left: 5%;top: 18%;
      z-index: 6;
      color: #fff;
      font-size: 13px;
      width: 60%;
      line-height: 1.2;
    }
    .price {
      position: absolute;
      right: 5%;bottom: 5%;
      z-index: 6;
      color: #fff;
      font-size: 28px;
      font-weight: bold;
      width: 60%;
      text-align: right;
      line-height: 1.2;
    }

    a {
      position: absolute;
      z-index: 10;
      width: 100%; height: 100%;
    }

    .shadow {
      position: absolute;
      z-index: 5;
      width: 100%; height: 100%;
      background: #000;
      -moz-opacity: 0.19;
      -khtml-opacity: 0.19;
      opacity: 0.19;
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=19);
      filter:alpha(opacity=19);
    }
  }
  .big_image_item:hover, .small_image_item:hover{
    .shadow {
      -moz-opacity: 0.54;
      -khtml-opacity: 0.54;
      opacity: 0.54;
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=54);
      filter:alpha(opacity=54);
    }
  }

  .big_image_item {
    width: 45%;
    float: left;
    position: relative;

    img {
      width: 100%;
    }
  }
  .small_image_items{
    width: 55%;
    float:left;


    .small_image_item {
      width: 50%;
      float: left;
      position: relative;

      img {width: 100%;}


    .title {
      font-size: 24px;
    }
    .text {
      left: 5%;top: 25%;
      font-size: 13px;
      width: 60%;
      line-height: 1.2;
    }
    .price {
      font-size: 22px;
      font-weight: bold;
      width: 60%;
      text-align: right;
      line-height: 1.2;
    }
    }
  }


  .auto_search {
    padding: 8px 150px 0 0;
    position: relative;
    select {
      margin: 0 5px;
      min-width: 150px;
    }

    .arrow_button {
      display: block;
      float: right;
      width: 159px;
      height: 50px;
      position: absolute;
      right: -32px; top: 0px;
      padding: 12px 0 0 18px;
      font-weight: bold;
      font-size: 18px;
      color: #fff;
      background: url(img/arrow_50_right.png) center no-repeat;
    }
  }


}





// <===========================================================>
//                           vidget_naparu
// <===========================================================>

.widget_type_7_container {
  background: #fff;
  padding: 30px 0 10px 0;

  .widget_header {
    height: 50px;
    background:#F7F7F7;
    .title_bg {
      float: left;
      background:#F7F7F7;
    }
    img {
      float: left;
      max-height: 50px;
    }
    .header_buttons {
      float: left;
      padding: 0 0 0 10px;
    }

    .header_button {
      float: left;
      height: 50px;
      background: #CB1926;
      
      a {
        display: block;
        padding: 16px 18px 10px 18px;
        color: white;
        font-weight:bold;
      }
    }

    .header_button.blue2 {
      background: #5E80BF;
    }

    .show_more {
      color: #000;
      padding: 15px 0 0 0;
      font-size: 16px;
      a {
        padding: 0 0 0 20px;
      }
    }
  }

  .widget_horizontal_menu {
    width: 100%;
    padding-left: 350px;
    background: #999999;


    a {
      display: block;
      float: left;
      height: 50px;
      padding: 17px 9px 0 8px;
      color: #fff;
    }
  }


  .widget_body {
    padding: 0px 0 0px 0;
    // background: #fff url(img/cover_food.jpg) center no-repeat;
    background: #ccc;
    background-size: cover;
  }
  .widget_body_in {
    margin: 0 -15px;
    padding: 0 0 0 217px;
    position: relative;
    overflow: hidden;

    .left_menu {
      position: absolute;
      left: 0; top: 0;
      height: 360px;
      width: 217px;
      background: #51AEE4;
      padding: 20px 5px 0 20px;

      .menu_item {
        a {
          color: #fff;
          display: block;
          margin: 0 0 10px 0;
          font-weight: bold;
          text-decoration: underline;
          .name {
            padding: 0 5px 0 0;
          }
          .badge {
            background: #EFEFEF;
            color: #51AEE4;
          }
        }

        a:hover {
          color: #2E6C91;
          .name {
            padding: 0 5px 0 0;
          }
          .badge {
            background: #2E6C91;
            color: #EFEFEF;
          }
        }
      }
    }

    .title {
      position: absolute;
      left: 5%;top: 5%;
      z-index: 6;
      color: #fff;
      font-size: 32px;
      font-weight: bold;
      padding: 0 2% 0 0;
    }
    .text {
      position: absolute;
      left: 5%;top: 18%;
      z-index: 6;
      color: #fff;
      font-size: 13px;
      width: 60%;
      line-height: 1.2;
    }
    .price {
      position: absolute;
      right: 5%;bottom: 5%;
      z-index: 6;
      color: #fff;
      font-size: 28px;
      font-weight: bold;
      width: 60%;
      text-align: right;
      line-height: 1.2;
    }

    .big_image_item a, .small_image_item a  {
      position: absolute;
      z-index: 10;
      width: 100%; height: 100%;
    }

    .shadow {
      position: absolute;
      z-index: 5;
      width: 100%; height: 100%;
      background: #000;
      -moz-opacity: 0.19;
      -khtml-opacity: 0.19;
      opacity: 0.19;
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=19);
      filter:alpha(opacity=19);
    }
  }
  .big_image_item:hover, .small_image_item:hover{
    .shadow {
      -moz-opacity: 0.54;
      -khtml-opacity: 0.54;
      opacity: 0.54;
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=54);
      filter:alpha(opacity=54);
    }
  }

  .big_image_item {
    width: 50%;
    float: left;
    position: relative;

    img {
      width: 100%;
    }
  }
  .small_image_items{
    width: 50%;
    float:left;


    .small_image_item {
      width: 50%;
      float: left;
      position: relative;

      img {width: 100%;}


    .title {
      font-size: 24px;
    }
    .text {
      left: 5%;top: 25%;
      font-size: 13px;
      width: 60%;
      line-height: 1.2;
    }
    .price {
      font-size: 22px;
      font-weight: bold;
      width: 60%;
      text-align: right;
      line-height: 1.2;
    }
    }
  }
} 



// <===========================================================>
//                           org_news
// <===========================================================>

.grean_herder_section {
  background: #36CA55;
  padding: 10px 20px;

  .title a {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  .title {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
}

.org_news {
  margin: 20px 0 30px 0;

  .org_news_item {
    padding: 15px 15px;
    .title a{
      font-size: 18px;
      color: #444;
      font-weight: bold;
    }
    .img {
      float: left;
      min-width: 80px;
      text-align: center;
    }
    img {
      margin: 0 0 0 0;
      max-width: 80px;
      max-height: 90px;
    }
    .title {
    margin: 0px 0 0 95px;
    line-height: 1.2;
      a {
        font-size: 18px;
        color: #444;
        font-weight: bold;
      }
    }

    .body {
      margin: 5px 0 0 95px;
      .span.section {
        float: left;
        padding: 0 10px 0 0px;
      }
      .span.separator {
        float: left;
        padding: 0 10px 0 0px;
      }
      .span.name a{
        float: left;
        padding: 0 10px 0 0px;
        color: #666;
      }
    }

  }


  .org_news_item.mega {
    padding: 0px 30px 0px 0px;
    border-left: 30px solid #fd7d09;

    img {
      float: left;
      margin: 0 16px 0 0;
    }
    .title {
    margin: 10px 0 0 0;
      a {
        font-size: 18px;
        color: #444;
        font-weight: bold;
      }
    }
    .body {
      .span.section {
        float: left;
        padding: 0 10px 0 0px;
      }
      .span.separator {
        float: left;
        padding: 0 10px 0 0px;
      }
      .span.name a{
        float: left;
        padding: 0 10px 0 0px;
        color: #666;
      }
    }

  }




  .org_news_item.odd {
    background: #efefef;

  }

}

.org_news.right_column {

  background: #fbfbfb;
  .grean_herder_section {
    background: #36CA55;
    padding: 8px 20px;

    .title a {
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
  }


  .org_news_item {
    padding: 8px 8px;
    .title a{
      font-size: 16px;
      color: #444;
      font-weight: bold;
    }
    .body {
      .span.section {
        float: left;
        padding: 0 10px 0 0px;
      }
      .span.separator {
        float: left;
        padding: 0 10px 0 0px;
      }
      .span.name a{
        float: left;
        padding: 0 10px 0 0px;
        color: #666;
      }
    }

  }

  .org_news_item.no_img {
    .title {
      margin: 0px 0 0 5px;
      line-height: 1.2;
    }
    .body {
      margin: 5px 0 0 5px;
    }
  }




  .org_news_item.mega {
    padding: 12px 30px 12px 10px;
    border-left: 16px solid #fd7d09;

    img {
      float: none;
      clear: both;
      margin: 0 16px 0 0;
    }
    .title {
    margin: 10px 0 0 0;
      a {
        font-size: 16px;
        color: #444;
        font-weight: bold;
      }
    }
    .body {
      .span.section {
        float: left;
        padding: 0 10px 0 0px;
      }
      .span.separator {
        float: left;
        padding: 0 10px 0 0px;
      }
      .span.name a{
        float: left;
        padding: 0 10px 0 0px;
        color: #666;
      }
    }

  }

}

.org_news a:hover span.label{
  text-decoration: none;
}


// <===========================================================>
//                           statistics
// <===========================================================>
.statistics {
  margin: 30px 0 20px 0;

  position: relative;

  .statistics_left_bar {
    padding: 0 0 0 94px;

    .statistics_item {
      margin: 0 0 5px;
      font-size: 16px;
    }
    span.time {
      min-width: 80px;
      display: inline-block;
    }
    span.first {
      min-width: 155px;
      display: inline-block;
    }
  }

  .statistics_yandex {
    font-size: 13px;
    color: #666;
    padding: 2px 0 0 0;
  }
  .statistics_icon {
    position: absolute;
    padding: 20px;
    background: #EEEEEE;
    top: 0px;
    left: 0px;
    width: 80px;
     img {
      width: 100%;
     }
  }


  .statistics_right_bar {
    padding: 50px 0 0 0;
    text-align: right;
    a{
      float: right;
    }
  }
}


// <===========================================================>
//                          partners_baner
// <===========================================================>

.partners_baner {
  margin: 20px 0 20px 0;
  padding: 20px 40px;

  .carousel-control {
    background-image: none;
    width: 5%;
  }

  .carousel-indicators {
    bottom: -30px;
  }
  .carousel-control.left {
    left: -47px;
  }
  .carousel-control.right {
    right: -47px;
  }
  .item {
    float: left;

    img {
      width: 100%;
      border: solid 1px #ccc;
    }
  }
}


// <===========================================================>
//                          slider_baner_oma
// <===========================================================>

.slider_baner_oma {
  margin: 0px 0 0px 0;
  padding: 16px 25px 20px 25px;

  .carousel-control {
    background-image: none;
    width: 5%;
  }

  .carousel-indicators {
    bottom: -30px;
  }
  .carousel-control.left {
    left: -57px;
  }
  .carousel-control.right {
    right: -57px;
  }
  .item {
    float: left;
    .row {
      margin: 0 -30px;
    }

    img {
      width: 100%;
      border: solid 1px #ccc;
    }
  }

  .col-xs-3 {
    padding: 0 5px;
  }

}

// <===========================================================>
//                      small_rotation_baner
// <===========================================================>

.small_rotation_baner {
  margin: 20px 0 20px 0;
  padding: 0px 0 30px 0;
  background: #EFEFEF;

  .carousel-control {
    background-image: none;
    width: 5%;
    top: 100%;
    height: 30px;
    z-index: 100;
    span {
      padding: 4px 0 0 0;
      color: #fff;
      font-size: 20px;
      box-shadow: none;
      text-shadow:none
    }
  }
  .carousel-indicators {
    bottom: -38px;
    li {
      border: none;
      background: #ccc;
      margin: 2px;
    }
    li.active {
      background: #fff;
      border: none;
    }
  }
  .carousel-control.left {
    left: 30%;
  }
  .carousel-control.right {
    right: 30%;
  }
  .item {
    width: 100%;

    img {
      width: 100%;
      border: solid 1px #ccc;
    }
  }
}


// <===========================================================>
//                            BANNERS
// <===========================================================>


.news_baner {
  // background: #F7F7F7;
  // padding: 15px;
}
.news_baner.x250 {
  padding: 10px;
}
.banner_468x60 {
  padding: 10px;
}

.baner_horizontal {
  text-align: center;
  margin: 5px 0 20px 0;
}

.baner_horizontal.top_banner {
  margin: 0px 0 0px 0;
  padding: 0px;
}

.two_banners_bar {
  margin: 10px 0;
  .two_banners_baner {
    float: left;
    width: 49.5%;
  }
  img {
    width: 100%;
  }
}

// <===========================================================>
//                        BANER_VERTICAL
// <===========================================================>
.baner_vertical {
  margin: 0px 0 16px 0;

  img {
    width: 100%;
  }
}


a.top_button {
  display: block;
  position: fixed;
  bottom: 20px; right: 20px;
  width: 60px; height: 50px;
  z-index: 400;
  background: url(img/up.jpg) center center no-repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
}


// <===========================================================>
//                            TAGS
// <===========================================================>

.tags {
  margin: 25px 0;

  .all_tags {
    margin: 6px 0 30px 0;
  }

  a.tag_item {
    display: block;
    float: left;
    padding: 4px 10px 5px 10px;
    margin:0 5px 5px 0;
    background: #aeaeae;
    color:#fff;
    font-size: 16px;
  }
  a.tag_item:hover {
    background: #838383;
  }
}

// <===========================================================>
//                            gray_herder_section
// <===========================================================>

.gray_herder_section {
  background: #F2F2F2;
  padding: 5px 30px;
  margin: 0 0 10px 0;

  .title a {
    color: #333;
    font-size: 16px;
    font-weight: normal;
  }

  .title {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
}

// <===========================================================>
//                            blue_herder_section
// <===========================================================>

.blue_herder_section {
  background: #0056FF;
  padding: 8px 20px;
  margin: 0 0 10px 0;

  .title a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }

  .title {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
}

// <===========================================================>
//                            kino_news
// <===========================================================>

.kino_news {
  margin:0 0 40px 0;
}

.kino_news_item {
  position: relative;
  background: #F2F2F2;
  margin: 0 0 20px 0;
}

.kino_news_item a {
  color: #000;
  text-decoration: none;
}

.kino_news_item .img {
  float:left;
  margin: 0 20px 0 0;

}

.kino_news_item .title {
  padding: 10px 5px 5px 0;
  font-size: 19px;
  font-weight: bold;
  line-height:1.2;
}

.kino_news_item .body {
  padding:0 10px 0 0;
  font-size: 16px;
  line-height: 1.1;
  
}

.kino_news_item .more {
  position: absolute;
  right:12px; bottom:10px;
  color: #0099FF;
}

// <===========================================================>
//                       afisha_small_line_section
// <===========================================================>

.afisha_small_line_section {
  margin: 10px 0 40px 0;
}


.afisha_small_line {
  // margin: 10px 0px 10px 0px;
  font-size: 16px;
}

.afisha_small_line.odd {
  background: #EFEFEF;
}

.afisha_small_line .date{
  float: left;
  // background: #21BD45;
  padding: 10px 10px 10px 20px;
  color: #d30013;
}

.afisha_small_line .name{
  float: left;
  padding: 10px 10px 10px 20px;
  color: #000;

}

.afisha_small_line_month {
  background: #21BD45;
  color: white;
  padding: 6px 16px;
  margin: 10px 0 0 0;
  font-size: 17px;
  font-weight: bold;
}


// <===========================================================>
//                       afisha_page
// <===========================================================>
.afisha_page_body {
  margin: 0 0 40px 0;
  position: relative;
}

.afisha_page_img {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  float: left;
  margin: 0 20px 0 0;
}

.afisha_page_img img{
  width: 100%;
}
.main_tickets_info {
  padding: 0 0 0 245px;
  min-height: 320px;
}

.main_tickets_info .date {
  color: #d30013;
  font-size: 20px;
}

.main_tickets_info .party_date {
  color: #850001;
  font-size: 20px;
  padding: 2px 0 5px 0;
}

.main_tickets_info .party_text {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 1.3;
}


.tickets_line {
  padding: 0px 0 5px 0;
}
.tickets_line .place {
  float: left;
  font-size: 21px;
  font-weight: bold;
  width: 35%;
}
.tickets_line .place .zal {
  padding: 0 0 0 5px;
  font-size: 18px;
  font-weight: normal;
}

.tickets_line .price {
  padding: 3px 0 0 5px;
  width: 20%;
  text-align: center;
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #0B5B00;
}

.tickets_line .time_holder {
  float: right;
}

.tickets_line .time_holder .time{
  float: left;
  margin: 3px 0 0 8px;
  font-size: 18px;
  font-weight: bold;
}

.main_tickets_info .place_info {
  background: #EFEFEF;
  padding: 10px 12px;
  margin: 0 0 20px 0;
}

.main_tickets_info .place_info .url {
  float: right;
}

.main_tickets_info .big_buttons {
  text-align: right;
}

.main_tickets_info a.big_color_button {
  margin: 0 0 0 8px;
}

.main_tickets_info .place_party {
  font-size: 22px;
  font-weight: normal;
  padding: 0 10px 5px 0;
  float: left;
}

// <===========================================================>
//                       standart_info
// <===========================================================>
.standart_info {
  clear: both;
  width: 100%;
  margin: 20px 0;
  font-size: 17px;
  line-height: 1.2;
}


.standart_info_item {
  margin: 5px 0 0 0;
}

.standart_info .prop{
  font-weight: bold;
  margin: 0 8px 0 0;
}



.film_short {
  background: #EFEFEF;
  padding: 20px 20px;
  font-size: 15px;
}












