// variables.scss

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');

$main_color: #7D1CB6;
$main_color__active: #681896;

$second_color: #663399;

$bg_gray: #e6e6e6;


%standart_font {
  font-family: 'Roboto', sans-serif;
}

%standart_font_2 {
  font-family: 'Roboto Condensed', sans-serif;
}

// <===========================================================>
//                  standart elements and blocks
// <===========================================================>

.white_container {
  background: #fff;
}

.standart_white_block {
  margin: 20px 0;
  padding: 30px;
  background: #fff;
}

.big_section_header_base {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  .title {
    padding: 0 20px;
    a {text-decoration: none;}
  }

  h3 {
    @extend %standart_font_2;
    color: #000;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 28px;
    
    span {
      font-weight: bold;
    }
  }

  .r_links {

    a {
      @extend %standart_font_2;
      font-style: italic;
      color: #000;
      margin: 0 16px;

      &:hover {
        text-decoration: underline;
      }
    }

    a.main_color {
      color: $main_color;
    }
  }

}

.big_section_header_slim {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  .title h3 {
    font-size: 20px;
  }
  .r_links a{
  }
}

.big_section_header_fsl_orange{
  background: #FF9900;
}

.big_section_header_fsl_blue{
  background: #0E46E2;

  .title h3 {
    color: #fff;
  }
}

.big_section_header_01 {
  background: #fff;
}


.more_link_right {
  text-align: right;
  margin: 5px 16px;

  a {
    @extend %standart_font_2;
    font-style: italic;
    color: $main_color;
  }
}

// <===========================================================>
//                          buttons
// <===========================================================>

.main_color_button {
  @extend %standart_font_2;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  margin: 16px 0px;
  background: $main_color;
  color: #fff;
  text-decoration: none;

  &:hover {
    background: $main_color__active;
    color: #fff;
    text-decoration: none;
  }
}

// <===========================================================>
