doctype html
html
  head
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    title ВИТЕБСКИЙ ГОРОДСКОЙ ИНТЕРНЕТ-ПОРТАЛ - GorodVitebsk.by - ВСЁ О ГОРОДЕ ВИТЕБСКЕ!Новости Витебска,Каталог организаций,фирмы витебска,Витебск и Витебская область,интересное,события,происшествия,афиша,погода,курсы валют,поиск лекарств,скидки и акции,новости

    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">
    <link href="css/top_bar_2015.css" rel="stylesheet" media="screen">
    <link href="css/ad_sale_pages.css" rel="stylesheet" media="screen">

    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/tob_bar_2015.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wather.js"></script>


  body

    a.top_button href="#top"

    .modal.fade id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
      .modal-dialog.modal-lg
        .modal-content
          form role="form"
            .modal-header
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              h4.modal-title#myModalLabel Добавление организации в каталог
            .modal-body
              .form-group
                label Название
                input.form-control type="text" placeholder="Введите название ораганизации"
              .form-group
                label Сфера деятельности
                select.form-control
                  option Шоппинг  ---  Косметика и парфюмерия
                  option Шоппинг  ---  Магазины алкогольных напитков
                  option Шоппинг  ---  Косметика и парфюмерия
                  option Шоппинг  ---  Магазины алкогольных напитков
                  option Шоппинг  ---  Магазины алкогольных напитков
                  option Шоппинг  ---  Магазины алкогольных напитков

              .form-group
                label Краткое описание
                textarea.form-control
              .form-group
                label Контакты (телефон для связи и т.д.)
                textarea.form-control

              .form-group
                label Ссылка на сайт
                input.form-control type="text"
              .form-group
                label Электронная почта
                input.form-control type="text"
              .form-group
                label Контактное лицо
                input.form-control type="text"

            .modal-footer
              button type="button" class="btn btn-default" data-dismiss="modal" Закрыть
              button type="submit" class="btn btn-success" data-dismiss="modal" Отправить


    .modal.fade id="reviews_modal" class="reviews_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
      .modal-dialog.modal-lg
        .modal-content
          form role="form"
            .modal-header
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              h4.modal-title#myModalLabel Добавить отзыв
            .modal-body

              .form-group
                label Название организации
                input.form-control type="text" placeholder="Название организации"


              .form-group
                label Ваша оценка
                .radio
                  label
                    input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="true"
                      .review_stars.radio
                        span.glyphicon.glyphicon-star.gold
                        span.glyphicon.glyphicon-star.gold
                        span.glyphicon.glyphicon-star.gold
                        span.glyphicon.glyphicon-star.gold
                        span.glyphicon.glyphicon-star.gold
                .radio
                  label
                    input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
                      .review_stars.radio
                        span.glyphicon.glyphicon-star.gold
                        span.glyphicon.glyphicon-star.gold
                        span.glyphicon.glyphicon-star.gold
                        span.glyphicon.glyphicon-star.gold
                        span.glyphicon.glyphicon-star
                .radio
                  label
                    input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
                      .review_stars.radio
                        span.glyphicon.glyphicon-star.gold
                        span.glyphicon.glyphicon-star.gold
                        span.glyphicon.glyphicon-star.gold
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                .radio
                  label
                    input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
                      .review_stars.radio
                        span.glyphicon.glyphicon-star.gold
                        span.glyphicon.glyphicon-star.gold
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                .radio
                  label
                    input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
                      .review_stars.radio
                        span.glyphicon.glyphicon-star.gold
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star



              .form-group
                label Ваш отзыв
                textarea.review_text.form-control

              br

              .form-group
                label for="exampleInputFile" Загрузить картинки
                input type="file" id="exampleInputFile"
                p class="help-block"Загрузите сюда чек или другие фото.

              .review_images.when_upl.clearfix
                a href="#"
                  img.img-thumbnail.img-responsive src="img/review_img_1.jpg" alt="..."
                  .delete_review_img
                    .span.glyphicon.glyphicon-remove
                a href="#"
                  img.img-thumbnail.img-responsive src="img/review_img_2.jpg" alt="..."
                  .delete_review_img
                    .span.glyphicon.glyphicon-remove
                a href="#"
                  img.img-thumbnail.img-responsive src="img/review_img_3.jpg" alt="..."
                  .delete_review_img
                    .span.glyphicon.glyphicon-remove

              br
              .form-group
                label Ваше имя
                input.form-control type="text"
              .form-group
                label Электронная почта
                input.form-control type="text"
              .form-group
                label Телефон
                input.form-control type="text"

            .modal-footer
              button type="button" class="btn btn-default" data-dismiss="modal" Закрыть
              button type="submit" class="btn btn-success" data-dismiss="modal" Отправить отзыв!ы



    / <===========================================================>
    /                        TOP_BAR_2015
    / <===========================================================>

    .top_bar_2015_container
      .top_bar_2015
        .logo
          a href="http://gorodvitebsk.by/"
            img src="img/g_logo_top_bar.png"
            span
              strong GorodVitebsk.by

        ul.menu_ul
          li <a target="_blank" href="http://gorod.vitebsk.by/index.html">Новости</a>
          li <a target="_blank" href="http://gorod.vitebsk.by/jiteli.htm">Каталог</a>
          li <a target="_blank" href="http://rabotavitebsk.by/">Работа</a>
          li <a target="_blank" href="http://gorod.vitebsk.by/afisha/index.htm">Афиша</a>
          li <a href="http://vdv-tv.by/">ТВ</a>
          li <a href="http://auto.namvam.by/">Авто</a>
          li <a target="_blank" href="http://naparu.by/">Еда</a>
          li <a href="http://namvam.by/">Обьявления</a>
          li <a target="_blank" href="http://gorod.vitebsk.by/skidki/index.html">Скидки</a>
          li <a target="_blank" href="http://gorodvitebsk.by/priz">Розыгрыши</a>
          li.cont
            a.cont_a href="#"
              .shevron
              | Все проекты
            ul.clearfix
              li <a target="_blank" href="http://m.gorodvitebsk.by/">Мобильный Витебск</a>
              li <a target="_blank" href="http://gorod.vitebsk.by/made/index.html">Сделано в Витебске</a>
              li <a target="_blank" href="http://gorod.vitebsk.by/turism.htm">Туризм и отдых</a>
              li <a target="_blank" href="http://gorod.vitebsk.by/feeriya/index.html">Феерия льна</a>
              li <a target="_blank" href="http://foto.gorodvitebsk.by/">Фотоальбом</a>
              li <a target="_blank" href="http://forum.gorodvitebsk.by/">Форум</a>
              li <a target="_blank" href="http://gorod.vitebsk.by/add-info.htm">Реклама на портале</a>
              li <a target="_blank" href="http://www.prometei-design.com/rus/CorporativSitesRus.htm">Создание сайтов</a>
              li <a target="_blank" href="http://gorod.vitebsk.by/prometei/">Компьютерное обучение</a>
              li <a target="_blank" href="http://gorod.vitebsk.by/news/index.html">Архив новостей</a>
          li.enter_button <a target="_blank" href="#">Войти</a>

        .social_bar
          a href="http://vk.com/gorod_vitebsk"
            img src="img/social_icons_1.png"
          a href="http://instagram.com/gorodvitebsk"
            img src="img/social_icons_2.png"
          a href="https://www.facebook.com/GorodVitebsk.by"
            img src="img/social_icons_3.png"
          a href="http://ok.ru/group/56855124705326"
            img src="img/social_icons_4.png"
          a href="https://www.youtube.com/user/gorodvitebskby1"
            img src="img/social_icons_5.png"
          a href="https://twitter.com/gorodvitebskby"
            img src="img/social_icons_6.png"
          a href="https://plus.google.com/+GorodVitebsk/posts"
            img src="img/social_icons_7.png"
          a href="https://www.linkedin.com/company/%D0%BF%D0%BE%D1%80%D1%82%D0%B0%D0%BB-%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%B2%D0%B8%D1%82%D0%B5%D0%B1%D1%81%D0%BA%D0%B0---gorodvitebsk-by"
            img src="img/social_icons_8.png"






    / <===========================================================>
    /                            HEADER 2
    / <===========================================================>
    .header_container.gray_container
      .container
        .row.big_row
          .header.clearfix
            .logo
              a href="/" <img src="img/logo.png"/>
            .search_bar_container
              .search_bar.clearfix
                form
                  <input type="text" class="form-control" placeholder="Поиск!">
                  <button type="submit" class=""> <span class="glyphicon glyphicon-search"></span></button>
            .informer
              .curency
                a href="#" $ 14 500
              .wather_widget
                a href="wather.html"

            .fuel
              // place for fuel generator

    / <===========================================================>
    /                            MAIN NAV 2
    / <===========================================================>
    .main_nav_container
      .container
        .row.big_row
          .main_nav.col-md-12
            .main_nav_in.clearfix
              .item.first.item_1
                a href="#"
                  .img
                    img src="img/main_nav_icon_1.png"
                  .title Новости
              .item.item_6
                a href="#"
                  .img
                    img src="img/main_nav_icon_6.png"
                  .title Афиша
              .item.item_2
                a href="#"
                  .img
                    img src="img/main_nav_icon_2.png"
                  .title Работа
              .item.item_5
                a href="#"
                  .img
                    img src="img/main_nav_icon_5.png"
                  .title Каталог
              .item.item_10
                a href="#"
                  .img
                    img src="img/main_nav_icon_10.png"
                  .title Расписание транспорта
              .item.last.item_12
                a.last href="#"
                  .img
                    img src="img/main_nav_icon_12.png"
                  .title Поиск лекарств
              .item.item_3
                a.color_vai_1 href="#"
                  .img
                    img src="img/main_nav_icon_3.png"
                  .title Объявления
              .item.item_9
                a href="#"
                  .img
                    img src="img/main_nav_icon_9.png"
                  .title Интернет магазины
              .item.item_11
                a href="#"
                  .img
                    img src="img/main_nav_icon_11.png"
                  .title Розыгрыши
              .item.item_4
                a href="#"
                  .img
                    img src="img/main_nav_icon_4.png"
                  .title Радио
              .item.item_8
                a href="#"
                  .img
                    img src="img/main_nav_icon_8.png"
                  .title Online камера
              .item.item_7
                a href="#"
                  .img
                    img src="img/main_nav_icon_7.png"
                  .title Интернет TV




    / <===========================================================>
    /                           FIRM_CONTAINER
    / <===========================================================>

    .standart_container.gray_container
      .container
        .row.big_row
          .main.clearfix

            / <===========================================================>
            /                         LEFT BAR
            / <===========================================================>

            .col-md-3

              .left_menu_bar
                .left_menu_bar_title Наши предложения
                .left_menu_bar_items
                  a.first href="./ad_sale_page.html" Размещение рекламы
                  a href="./ad_sale_page_banners.html" Баннеры
                  a href="./ad_sale_page_articles.html" Рекламные статьи
                  a href="./ad_sale_page_online.html" On-line представительство
                  a href="./ad_sale_video.html" Видео реклама
                  a.active href="./ad_sale_page_site.html" Создание сайта
                  a.last href="./ad_sale_page_vidjet.html" Виджеты



            / <===========================================================>
            /                        main part (center column)
            / <===========================================================>

            .col-md-9.col-sm-12

              / <===========================================================>
              /                        STANDART_TITLE
              / <===========================================================>

              .standart_title.slim
                h1 Создание сайтов

              .gray_bar
                |Мы не хотим тратить Ваше время на чтение сложных технических текстов и сомнительных маркетиговых призывов. Мода и стиль меняются, а удобство и функциональность остаётся. Поэтому мы делаем простые эффективные сайты, которые работают! Главное в нашей работе - простота и удобство, уважение к времени и доверию заказчика.

              .sale_page_section
                p
                  strong Создаем сайты - быстро и качественно

                p Предлагаем Вам создание сайтов, их продвижение, разработку логотипа и фирменного стиля в кратчайшие сроки и гарантируем высокое качество по честной цене.

                ul
                  li Задача сайта не создавать проблемы, а эффективно решать задачи по привлечению новых клиентов
                  li Сайт должен быть удобным, информация краткой, пользоваться сайтом должно быть просто.
                  li Процесс разработки сайта не должен растягиваться на месяцы.


                br
                br
                
                .gray_bar
                  h3 Экспресс сайт!
                  ul
                    li Сайты с системой управления содержимым (CMS) возможность менять, добавлять фото, текст, разделы, не сложнее чем писать текст в Word) <br>
                    li Домен и хостинг - размещение сайта на сервере Linux, в Беларуси на год. <br>
                    li Содержит набор современных инструментов и модулей в отличие от ограниченных сайтов-визиток. <br>
                | Примеры экспресс сайтов:

                ul
                  li <a href="http://alu-nov.ru/" target="_blank">www.alu-nov.ru</a>
                  li <a href="http://damskie-shtuchki.by/" target="_blank">www.damskie-shtuchki.by</a>
                  li <a href="http://modistka.by/" target="_blank">www.modistka.by</a>
                  li <a href="http://lanatexplus.by/">lanatexplus.by</a>
                  li <a href="http://ratusha-vit.by/" target="_blank">www.ratusha-vit.by</a>
                  li <a href="http://www.k-r.by/" target="_blank">www.k-r.by</a>

                br

                .gray_bar
                  h3 Корпоративный сайт!
                  ul
                    li Разработка структуры сайта соответствующей требованиям предприятия
                    li Каталог продукции, услуг, фото-галерея
                    li Возможность самостоятельно управлять содержимым сайта посредством удобной системы управления (CMS)
                    li Масштабируемые - гибкие, легко настраиваемые, возможно усовершенствование, добавление новых модулей, развитие и расширение
                    li Регистрация доменных имен, предоставление хостинга, поддержка сайтов

                | Примеры корпоративных сайтов:
                br

                ul
                  li <a href="http://www.artplast.by/" target="_blank">www.artplast.by</a>
                  li <a href="http://www.vodavita.by/" target="_blank">www.vodavita.by</a>
                  li <a href="http://www.electropribor.by/" target="_blank">www.electropribor.by</a>
                  li <a href="http://www.sangor.by/">www.sangor.by</a>
                  li <a href="http://www.vasilina.com/" target="_blank">www.vasilina.com</a>
                  li <a href="http://www.vitoptica.by/" target="_blank">www.vitoptica.by</a>
                br

                .gray_bar
                  h3 Портал, Интернет Магазин
                  i
                   |(Интерактивные элементы, сложная структура)

                | Примеры сайтов:
                ul
                  li <a href="http://vitebsk.vitebsk-region.gov.by/" target="_blank">vitebsk.vitebsk-region.gov.by</a>
                  li <a href="http://www.policom.by/" target="_blank">www.policom.by</a>
                  li <a href="http://www.elen.redcode.by/" target="_blank">www.elen.redcode.by</a>





                br
                br
    / <===========================================================>
    /                            FOOTER
    / <===========================================================>


    .footer
      .container
        .row.big_row
          .logo.col-xs-2
            a href="/" <img src="img/logo_old.png"/>
          .footer_nav.col-xs-10
            .footer_nav_item
              a href="#"
                span.glyphicon.glyphicon-plus-sign
                | Добавить организацию <br> в каталог
            .footer_nav_item
              a href="#"
                span.glyphicon.glyphicon-ok-sign
                | Размещение <br> рекламы
            .footer_nav_item.one_line
              a href="#"
                span.glyphicon.glyphicon-globe
                |  Создание сайтов
            .footer_nav_item
              a href="#"
                span.glyphicon.glyphicon-film
                | Заказать <br> видео-рекламу
            .footer_nav_item.one_line
              a href="#"
                span.glyphicon.glyphicon-phone-alt
                | Контакты
