doctype html
html
  head
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    title Радио-Витебск Онлайн
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">
    <link href="css/top_bar_2015.css" rel="stylesheet" media="screen">
    
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/tob_bar_2015.js"></script>
    <script src="js/main.js"></script>

  body.radio

    / <===========================================================>
    /                        TOP_BAR_2015
    / <===========================================================>

    .top_bar_2015_container
      .top_bar_2015
        .logo
          a href="http://gorodvitebsk.by/"
            img src="img/g_logo_top_bar.png"
            span 
              strong GorodVitebsk.by

        ul.menu_ul
          li <a target="_blank" href="http://gorod.vitebsk.by/index.html">Новости</a>
          li <a target="_blank" href="http://gorod.vitebsk.by/jiteli.htm">Каталог</a>
          li <a target="_blank" href="http://rabotavitebsk.by/">Работа</a>
          li <a target="_blank" href="http://gorod.vitebsk.by/afisha/index.htm">Афиша</a>
          li <a href="http://vdv-tv.by/">ТВ</a>
          li <a href="http://auto.namvam.by/">Авто</a>
          li <a target="_blank" href="http://naparu.by/">Еда</a>
          li <a href="http://namvam.by/">Обьявления</a>
          li <a target="_blank" href="http://gorod.vitebsk.by/skidki/index.html">Скидки</a>
          li <a target="_blank" href="http://gorodvitebsk.by/priz">Розыгрыши</a>
          li.cont
            a.cont_a href="#"
              .shevron
              | Все проекты
            ul.clearfix
              li <a target="_blank" href="http://m.gorodvitebsk.by/">Мобильный Витебск</a>
              li <a target="_blank" href="http://gorod.vitebsk.by/made/index.html">Сделано в Витебске</a>
              li <a target="_blank" href="http://gorod.vitebsk.by/turism.htm">Туризм и отдых</a>
              li <a target="_blank" href="http://gorod.vitebsk.by/feeriya/index.html">Феерия льна</a>
              li <a target="_blank" href="http://foto.gorodvitebsk.by/">Фотоальбом</a>
              li <a target="_blank" href="http://forum.gorodvitebsk.by/">Форум</a>
              li <a target="_blank" href="http://gorod.vitebsk.by/add-info.htm">Реклама на портале</a>
              li <a target="_blank" href="http://www.prometei-design.com/rus/CorporativSitesRus.htm">Создание сайтов</a>
              li <a target="_blank" href="http://gorod.vitebsk.by/prometei/">Компьютерное обучение</a>  
              li <a target="_blank" href="http://gorod.vitebsk.by/news/index.html">Архив новостей</a>
          li.enter_button <a target="_blank" href="#">Войти</a>

        .social_bar
          a href="http://vk.com/gorod_vitebsk"
            img src="img/social_icons_1.png"
          a href="http://instagram.com/gorodvitebsk"
            img src="img/social_icons_2.png"
          a href="https://www.facebook.com/GorodVitebsk.by"
            img src="img/social_icons_3.png"
          a href="http://ok.ru/group/56855124705326"
            img src="img/social_icons_4.png"
          a href="https://www.youtube.com/user/gorodvitebskby1"
            img src="img/social_icons_5.png"
          a href="https://twitter.com/gorodvitebskby"
            img src="img/social_icons_6.png"
          a href="https://plus.google.com/+GorodVitebsk/posts"
            img src="img/social_icons_7.png"
          a href="https://www.linkedin.com/company/%D0%BF%D0%BE%D1%80%D1%82%D0%B0%D0%BB-%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%B2%D0%B8%D1%82%D0%B5%D0%B1%D1%81%D0%BA%D0%B0---gorodvitebsk-by"
            img src="img/social_icons_8.png"


      / <===========================================================>
      /                      radio iframe
      / <===========================================================>
      .radio_iframe_holder
        .logo
           a target="blank" href="http://gorodvitebsk.by/firms/radio-vitebsk"
            img src="img/radio_r_icon_h90.png"

        <iframe style="border:0px solid #009CFF;overflow:hidden;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius: 5px;" frameborder="0" scrolling="no" src="http://lovi.fm/mini/?c=3&a=1&r=1&h=300&s=666" width="200" height="98"></iframe>
      
      .radio_text_link
        a target="blank" href="http://gorodvitebsk.by/firms/radio-vitebsk" 
          | Рекламная служба +375 212 60-11-60


      / <===========================================================>
      /                      small_rotation_baner radio
      / <===========================================================>
      .small_rotation_baner.radio

        <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          .carousel-inner
            .item.active
              a href="#"
                img src="img/banner_500x130_1.jpg"
            .item
              a href="#"
                img src="img/banner_500x130_2.jpg"
            .item
              a href="#"
                img src="img/banner_500x130_1.jpg"



          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
